<section class="lr-explore-band">
  <div class="wrapper">
    <div class="lr-explore-inner">
      <h2>{{ include.section.title }}</h2>
      <form class="lr-explore-form" onsubmit="event.preventDefault();">
        <div class="lr-explore-input-wrap">
          <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <input type="text" placeholder="{{ include.section.placeholder }}" />
        </div>
        <button class="btn btn-primary">{{ include.section.button_label }}</button>
      </form>
      <p>{{ include.section.subtitle }}</p>
    </div>
  </div>
</section>
