<!DOCTYPE html>
<html lang="{{ page.language }}">

  {%- assign snippets = site.data.snippets %}

  <head>
    {% include head.html %}
    {% include localizations.html %}
  </head>

  <body id="{{ snippets.top[page.language] | slugify: 'latin' }}">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="{{ '/assets/js/home-carousel.js?v=2' | relative_url }}" defer></script>

  </body>

</html>
