---
layout: default
---
<article id="event-item" class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% if page.event_start %}
      <p class="event-meta">
        {{ page.event_start | date: "%d %b %Y" }}
        {% if page.event_end %}- {{ page.event_end | date: "%d %b %Y" }}{% endif %}
      </p>
    {% endif %}
    {% if page.location %}
      <p class="event-meta">{{ page.location }}</p>
    {% endif %}
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>
